<h1>Booking confirmation</h1>
<h2>¡Congratulation {{user.username}}!<h2>
<h4>Booking details</h4>

  <div class="form-group">
      <option>Your boat</option>

      <h2>{{boat.name}}</h2>
      <h4>Description</h4>
      <p>{{boat.description}}</p>
      <h4>Type</h4>
      <p>{{boat.type}}</p>
      <h4>Capacity</h4>
      <p>{{boat.capacity}} seats</p>
      <h4>Captain</h4>
      <p>{{boat.captain}}</p>

      <h4>Price</h4>
      <p>{{boat.rate}} €/day</p>

      <h4>Have a nice trip!</h4>

      <a href="/">Accept</a>



 
    </select>
  </div>
