<div class="container boat-index">


  <h1 style="font-weight: 100">My Boats</h1>


  {{#each boat}}
  <h4>Name: {{name}}</h4>
  <img class="boat-picture" src="{{imgPath}}" alt="boat">
  <p>Description: {{description}}</p>
  <p>Hoem Port: {{port.name}}</p>
  <p>Capacity: {{capacity}}</p>
  <p>Daily price: {{rate}}</p>


  <a href="/user/owner/myBoats/edit/{{_id}}" class="button">Edit</a>

  <form action="/user/owner/myBoats/delete/{{_id}}" method="post">
    <button type="submit" class="btn btn-dark">Delete</button>
  </form>

  <hr>
  {{/each}}



</div>