<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1 style="font-weight: 100">
        <h1 id="name-edit">Edit your boat {{theBoat.name}}</h1>
    </div>

    <div class="col-md-6">

      <form action="/user/owner/myBoats/edit/{{theBoat._id}}" method="POST">

        <div class="form-group">
          <label for="name-input">Name</label>
          <input name="name" type="text" class="form-control" id="name-input" placeholder="{{theBoat.name}}">
        </div>



        <div class="form-group">
          <label for="description-input">Description</label>
          <textarea name="description" class="form-control" id="description-input"
            placeholder="{{theBoat.description}}"></textarea>
        </div>
        <button type="submit">Save</button>


      </form>



    </div>

  </div>
</div>


{{!-- <div class="form-group">
          <label for="rate-input">Rate</label>
          <input name="rate" type="number" placeholder="{{boat.rate}}" class=" form-control" id="rate-input">
        </div>

        <div>
          <label for="photo-input">Image</label>
          <input type="file" name="photo" id="photo-input"><br><br>
        </div> --}}


{{!-- <div class="form-group">
          <label for="type-input">Type</label>
          <select name="type" class="form-control" id="type-input">
            <option disabled=" selected">Select on option</option>
            <option>Yacht</option>
            <option>Sailboat</option>
            <option>Catamaran</option>
          </select>
        </div>
 --}}
{{!-- <div class="form-group">
          <label for="capacity-input">Capacity</label>
          <input name="capacity" type="number" class="form-control" id="capacity-input" placeholder="{{boat.capacity}}">
        </div>

        <div class=" form-group">
          <label for="captain-input">Captain
            <input type="radio" id="captain-input" name="captain" value="yes">Yes</label>
          <input type="radio" id="captain-input" name="captain" value="no">No</label>
          </label>
        </div>

        <div class="form-group">
          <label for="port-list">Port</label>
          <select name="port_id" class="form-control" id="port-list">
            <option>Select</option>
            {{#each ports}}
            <option value='{{_id}}'>{{name}}</option>
            {{/each}}
          </select>
        </div> --}}