<div class="index-title">
  <h1 style="font-weight: 100">My Boats</h1>
</div>

<div class="container text-center">
  {{#each boat}}
  <h4>Name: {{name}}</h4>
  <img class="boat-picture" src="{{imgPath}}" alt="boat">
  <p><b>Description: </b>: {{description}}</p>
  <p><b>Home Port:</b> {{port.name}}</p>
  <p><b>Capacity: </b>{{capacity}}</p>
  <p><b>Daily price: </b>{{rate}} </p>

  <div class="index-buttons">
    <a href="/user/owner/myBoats/edit/{{_id}}" class="btn">Edit</a>
    <form action="/user/owner/myBoats/delete/{{_id}}" method="post">
      <button type="submit" class="btn">Delete</button>
    </form>
  </div>
  <hr>
  {{/each}}
</div>